*{
    margin: 0%;
    padding: 0%;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*A PARTIR DE ESTA LINEA, SE ENCONTRARÁ LA PAGINA DE BIENVENIDA*/
#coverPage{
    width: 100%;
    height: 59em;
    background: linear-gradient(to bottom right, #00b3ff 11%, #53b512 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title{
    font-size: 12em;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#subtitle{
    font-size: 7em;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#down{
    font-size: 5em;
    margin-top: 5em;
}

#emoji{
    text-decoration: none;
}

/*EN ESTA LINEA ACABA LA PÁGINA DE BIENVENIDA*/

/*A PATIR DE ESTA LINEA, ESTA EL CODIGO DE LA PÁGINA DE PRESENTACIÓN*/

#pageOne{
    width: 100%;
    height: 59.5em;
    background: linear-gradient(to top right, #ffd6d6 39%, #53b512 68%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*EN ESTE APARTADO SE CREARA EL MENU*/

header{
    width: 100%;
    height: 5em;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
}

.option{
    width: 12.5%;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.optionText{
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.goOption{
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

/*AQUI TERMINARÍA EL MENÚ*/

section{
    width: 75%;
    height: 50em;
    background-color: white;
    margin-top: 5em;
    border-radius: 5% 5% 0% 0%;
    display: flex;
    flex-direction: row;
}

#lateralImgs{
    width: 35%;
    height: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgPresentation{
    width: 100%;
    height: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.imgPresentation img{
    width: 75%;
    border: solid;
}

#presentationLateral{
    width: 65%;
    height: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5em;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}

/*AQUI TEMRINA LA PAGINA DE PRESENTACIÓN*/