*{
    margin: 0%;
    padding: 0%;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*A PARTIR DE ESTA LINEA, SE ENCONTRARÁ LA PAGINA DE BIENVENIDA*/
#coverPage{
    width: 100%;
    height: 58em;
    background: linear-gradient(to bottom right, #00b3ff 11%, #53b512 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title{
    font-size: 12em;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#subtitle{
    font-size: 7em;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#down{
    font-size: 5em;
    margin-top: 5em;
}

#emoji{
    text-decoration: none;
}

/*EN ESTA LINEA ACABA LA PÁGINA DE BIENVENIDA*/

/*A PATIR DE ESTA LINEA, ESTA EL CODIGO DE LA PÁGINA DE PRESENTACIÓN*/

#pageOne{
    width: 100%;
    height: 58em;
    background: linear-gradient(to top right, #ffd6d6 39%, #53b512 68%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    height: 8em;
    background-color: white;

}



/*AQUI TEMRINA LA PAGINA DE PRESENTACIÓN*/